@use "./breakpoints";

.button {
	display: flex;
	justify-content: center;

	&:not(:first-child) {
		margin-top: min(2.08vw, 40px);
	}

	&__item {
		align-items: center;
		background-color: #fff;
		border: 1.5px solid #000;
		border-radius: 100vw;
		display: inline-flex;
		font-weight: 700;
		height: min(2.6vw, 50px);
		justify-content: center;
		padding: 0 min(1.46vw, 28px);
		text-align: center;

		&--primary {
			background-color: #007b3a;
			border-color: #007b3a;
			color: #fff;
		}

		&--secondary {
			background-color: #000;
			color: #fff;
		}
	}

	@include breakpoints.md {
		&:not(:first-child) {
			margin-top: 7.78vw;
		}

		&__item {
			font-size: 3.89vw;
			height: 11.11vw;
			padding: 0 7.78vw;
		}
	}
}
