@use "./fonts";
@use "./reset";
@use "./components";
@use "./button";
@use "./header";
@use "./footer";
@use "./swiper";
@use "./mixins";
@use "./breakpoints";

.main {
	padding: min(9.38vw, 180px) 0;

	.contents {
		overflow-x: hidden;

		.wraping {
			&:not(:first-child) {
				margin-top: min(9.38vw, 180px);
			}
		}
	}

	@include breakpoints.md {
		padding: 11.11vw 0 22.22vw;

		.contents {
			.wraping {
				&:not(:first-child) {
					margin-top: 22.22vw;
				}
			}
		}
	}
}

.kv {
	padding-top: min(7.14vw, 137px);
	position: relative;

	&__sticky {
		left: 0;
		position: sticky;
		top: 0;
	}

	&__scroll {
		height: 200vh;
	}

	&__container {
		height: 100vh;
		margin-top: max(-7.14vw, -137px);
		overflow: hidden;
		padding-top: min(11.04vw, 212px);
		position: relative;

		.wraping {
			align-items: center;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}

	&__title {
		font-size: min(3.65vw, 70px);
		font-weight: 800;
		letter-spacing: max(-0.07vw, -14px);
		margin-top: min(1.82vw, 35px);

		br {
			display: none;
		}
	}

	&__desc {
		font-size: min(1.04vw, 20px);
		margin-top: min(1.67vw, 32px);
	}

	&__banner {
		margin-top: min(3.54vw, 68px);
	}

	&__swiper {
		&:not(:first-child) {
			margin-top: min(1.04vw, 20px);
		}

		.swiper {
			&-wrapper {
				transition-timing-function: linear !important;
			}

			&-slide {
				height: min(14.58vw, 280px);
				margin-right: min(1.04vw, 20px);
				width: min(25vw, 480px);

				img {
					height: 100%;
					width: 100%;
				}
			}
		}

		.roundBox {
			clip-path: inset(0 round min(1.67vw, 32px));
		}
	}

	.intro {
		align-items: center;
		background-color: #97d91a;
		clip-path: circle(var(--intro-circle));
		display: flex;

		// height: calc(var(--vh, 1vh) * 100);
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 5;

		&--hidden {
			clip-path: circle(0%);
		}

		&__group {
			margin: 0 auto;
			margin-top: 200vh;
			max-width: 1080px;
			text-align: center;
			transform: translateY(var(--intro-group));
		}

		&__fruits {
			background: url("../images/fruits.svg") no-repeat 0 0 / 100% 100%;
			height: min(12.18vw, 233.78px);
			margin: 0 auto;
			transform: scale(var(--intro-fruits));
			width: min(18.2vw, 349.36px);
		}

		&__title {
			color: #00220d;
			font-size: min(2.5vw, 48px);
			font-weight: 300;
			line-height: 1.4;
			margin-top: min(2.08vw, 40px);

			strong {
				font-weight: 700;
			}
		}

		&__desc {
			color: #00220d;
			font-size: min(1.25vw, 24px);
			font-weight: 700;
			line-height: 1.8;
			margin-top: min(1.25vw, 24px);
		}

		.button {
			&__item {
				padding: 0 min(1.67vw, 32px);
			}
		}
	}

	@include breakpoints.md {
		padding-top: 15vw;

		&__container {
			margin-top: -15vw;
			padding-top: 23.33vw;
		}

		&__title {
			font-size: 8.33vw;
			line-height: 1.4;
			margin-top: 3.33vw;

			br {
				display: block;
			}
		}

		&__desc {
			font-size: 4.44vw;
			line-height: 1.6;
			margin-top: 1.11vw;
		}

		&__banner {
			margin-top: 7.78vw;
		}

		&__swiper {
			&:not(:first-child) {
				margin-top: 4.44vw;
			}

			.swiper {
				&-slide {
					height: 50vw;
					margin-right: 4.44vw;
					width: 88.89vw;
				}
			}

			.roundBox {
				clip-path: inset(0 round 5.56vw);
			}
		}

		.intro {
			&__fruits {
				height: 50.56vw;
				width: 75.55vw;
			}

			&__title {
				font-size: 6.67vw;
				margin-top: 11.11vw;
			}

			&__desc {
				font-size: 3.89vw;
				line-height: 1.6;
				margin-top: 4.44vw;
			}

			.button {
				&:not(:first-child) {
					margin-top: 8.89vw;
				}

				&__item {
					padding: 0 7.78vw;
				}
			}
		}
	}
}

.prologue {
	position: relative;

	&__sticky {
		left: 0;
		overflow: hidden;
		position: sticky;
		top: 0;
	}

	&__scroll {
		height: 100vh;
	}

	&__container {
		height: 100vh;
	}

	&__title {
		color: #231f20;
		font-size: min(2.5vw, 48px);
		font-weight: 700;
		line-height: 1.4;
		text-align: center;

		strong {
			color: #007b3a;
		}
	}

	&__circle {
		background: url("../images/circle.svg") 0 0 / 100% 100%;
		height: min(51.04vw, 980px);
		left: 50%;
		margin-top: max(-1.88vw, -36px);
		position: absolute;
		top: 0;
		transform: translate(-50%, 0) scale(var(--prologue-circle-scale));
		width: min(51.04vw, 980px);
	}

	&__people {
		background: url("../images/people.png") no-repeat 0 0 / cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform: scale(-100%);
		width: 100%;
	}

	&__group {
		opacity: 0;
		padding-bottom: min(2.08vw, 40px);
		position: relative;
		transform: translateY(min(2.08vw, 40px)) scale(-100%);
		transition-duration: 800ms;
		transition-property: transform, opacity;

		&--active {
			opacity: 1;
			transform: translateY(0) scale(-100%) !important;
		}
	}

	.anniversary {
		display: block;
		height: min(11.46vw, 220px);
		left: 50%;
		margin-top: var(--prologue-anniversary-margin);
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%) rotate(180deg) matrix(var(--prologue-anniversary-scale), 0, 0, var(--prologue-anniversary-scale), 0, 0);
		width: min(11.46vw, 220px);
	}

	.button {
		&:not(:first-child) {
			margin-top: min(1.25vw, 24px);
		}
	}

	@include breakpoints.md {
		&__container {
			position: relative;
		}

		&__scroll {
			height: calc(100vw + 37.22vw);
		}

		&__title {
			font-size: min(6.67vw, 24px);
			line-height: 1.6;
		}

		&__circle {
			aspect-ratio: 1;
			height: auto;
			margin-top: 0;
			top: 37.22vw;
			width: calc(100% + 3.89vw);
		}

		&__group {
			bottom: calc(100% + 11.11vw);
			left: 0;
			position: absolute;
			transform: translateY(min(11.11vw, 40px)) scale(-100%);
			width: 100%;
		}

		.anniversary {
			height: 27.78vw;
			top: 50%;
			width: 27.78vw;
		}
	}
}

.ecoCaring {
	&__row {
		column-gap: min(1.04vw, 20px);
		display: flex;

		.roundBox {
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			flex: 1;
			position: relative;
			@include mixins.transition(300ms, ease-out);

			&::before {
				background: linear-gradient(180deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 0%) 50%);
				content: "";
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				@include mixins.transition(300ms, ease-out);
			}

			&:hover {
				flex: 2;

				&::before {
					opacity: 0;
				}

				.ecoCaring {
					&__dimmed,
					&__bottom {
						opacity: 1;
					}
				}
			}

			&:not(:first-child) {
				margin-top: 0;
			}

			&:nth-child(1) {
				background-image: url("../images/bg_ecocaring01.jpg");
			}

			&:nth-child(2) {
				background-image: url("../images/bg_ecocaring02.jpg");
			}
		}
	}

	&__dimmed {
		background: linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%), linear-gradient(0deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 0%) 50%), linear-gradient(180deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 0%) 50%);
		border-radius: min(2.29vw, 44px);
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		@include mixins.transition(300ms, ease-out);
	}

	&__box {
		color: #fff;
		display: flex;
		flex-direction: column;
		height: min(35.42vw, 680px);
		justify-content: space-between;
		padding: min(4.17vw, 80px) min(3.33vw, 64px);
		position: relative;
	}

	&__title {
		font-size: min(2.5vw, 48px);
		font-weight: 800;
		margin-bottom: min(0.83vw, 16px);
	}

	&__desc {
		font-size: min(0.94vw, 18px);
		line-height: 1.6;
	}

	&__bottom {
		display: flex;
		opacity: 0;
		@include mixins.transition(300ms, ease-out);

		> div {
			flex: 1;
		}

		p {
			&:nth-child(1) {
				font-size: min(0.94vw, 18px);
			}

			&:nth-child(2) {
				font-family: NanumSquareNeoVar;
				font-size: min(4.17vw, 80px);
				font-weight: 800;
				letter-spacing: max(-0.08vw, -1.6px);
				margin-top: min(0.42vw, 8px);

				span {
					font-family: NanumSquareAc;
					font-size: min(2.4vw, 36px);
					font-weight: 700;
					letter-spacing: 0;
					line-height: 1.4;
				}
			}
		}
	}

	@include breakpoints.md {
		&__row {
			display: block;

			.roundBox {
				&:not(:first-child) {
					margin-top: 3.33vw;
				}

				&::before {
					background: linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%), linear-gradient(180deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 0%) 50%), linear-gradient(0deg, rgb(0 0 0 / 30%) 0%, rgb(0 0 0 / 0%) 50%);
				}
			}
		}

		&__dimmed {
			display: none;
		}

		&__box {
			aspect-ratio: 1 / 1;
			height: auto;
			padding: 7.78vw 5.56vw;
		}

		&__title {
			font-size: 5.56vw;
			margin-bottom: 1.11vw;
		}

		&__desc {
			font-size: 3.33vw;
		}

		&__bottom {
			opacity: 1;
			transition: none;

			p {
				&:nth-child(1) {
					font-size: 3.33vw;
					font-weight: 800;
				}

				&:nth-child(2) {
					font-size: 10vw;
					font-weight: 700;
					letter-spacing: -0.2vw;
					margin-top: 1.11vw;

					span {
						font-size: 5.56vw;
						font-weight: 400;
					}
				}
			}
		}
	}
}

.card {
	&__row {
		column-gap: min(1.04vw, 20px);
		display: flex;
	}

	&__item {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: min(35.42vw, 680px);
		padding: min(3.75vw, 72px) min(2.4vw, 46px);
		text-align: center;

		&:nth-child(1) {
			background-color: #eaf2e0;
		}

		&:nth-child(2) {
			background-color: #f4f4f1;
		}

		&:nth-child(3) {
			background-color: #e6f1f7;
		}

		.lottie {
			aspect-ratio: 1 / 0.8334;
			background-color: pink;
			margin: auto auto 0;
			width: 84.11%;
		}
	}

	&__title {
		font-size: min(1.67vw, 32px);
		font-weight: 800;
	}

	&__category {
		color: rgb(0 0 0 / 50%);
		font-size: min(0.73vw, 14px);
		font-weight: 800;
		margin-top: min(0.63vw, 12px);
	}

	&__desc {
		font-size: min(0.94vw, 18px);
		line-height: 1.6;
		margin-top: min(1.67vw, 32px);
	}

	@include breakpoints.md {
		&__scroll {
			margin: 0 max(-5.56vw, -20px);
			overflow: hidden;

			.card {
				&__row {
					overflow-x: scroll;
					padding: 0 5.56vw;
				}

				&__item {
					flex: none;
					width: 83.33vw;
				}
			}
		}

		&__row {
			column-gap: 3.33vw;
		}

		&__item {
			aspect-ratio: 1 / 1.5333;
			height: auto;
			padding: 11.11vw 5.56vw 5.56vw;

			.lottie {
				aspect-ratio: 1 / 1;
				margin-top: auto;
				width: 100%;
			}
		}

		&__title {
			font-size: 5.56vw;
		}

		&__category {
			font-size: 3.33vw;
			margin-top: 2.22vw;
		}

		&__desc {
			font-size: 3.89vw;
			margin-bottom: 2.78vw;
			margin-top: 5.56vw;
		}
	}
}

.coverflow {
	box-sizing: content-box;

	// height: 728px;
	height: min(37.92vw, 728px);
	overflow: inherit;

	// padding-bottom: 80px;
	padding-bottom: min(4.17vw, 80px);

	&__item {
		&:nth-child(2) {
			.coverflow {
				&__box {
					background-color: #f5f0fb;
				}

				&__dimmed {
					background: linear-gradient(0deg, rgb(0 0 0 / 10%) 0%, rgb(0 0 0 / 10%) 100%), #f5f0fb;
				}
			}
		}

		&:nth-child(3) {
			.coverflow {
				&__box {
					background-color: #f4f4f1;
				}

				&__dimmed {
					background: linear-gradient(0deg, rgb(0 0 0 / 10%) 0%, rgb(0 0 0 / 10%) 100%), #f4f4f1;
				}
			}
		}

		&:nth-child(4) {
			.coverflow {
				&__box {
					background-color: #eaf2e0;
				}

				&__dimmed {
					background: linear-gradient(0deg, rgb(0 0 0 / 10%) 0%, rgb(0 0 0 / 10%) 100%), #eaf2e0;
				}
			}
		}

		&:nth-child(5) {
			.coverflow {
				&__box {
					background-color: #e6f1f7;
				}

				&__dimmed {
					background: linear-gradient(0deg, rgb(0 0 0 / 10%) 0%, rgb(0 0 0 / 10%) 100%), #e6f1f7;
				}
			}
		}

		&:nth-child(6) {
			.coverflow {
				&__box {
					background-color: #f9f5ea;
				}

				&__dimmed {
					background: linear-gradient(0deg, rgb(0 0 0 / 10%) 0%, rgb(0 0 0 / 10%) 100%), #f9f5ea;
				}
			}
		}
	}

	&__hero {
		align-items: center;
		background:
			linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%),
			url("../images/bg_coverflow.jpg") no-repeat 50% 50% / cover;
		border-radius: min(2.29vw, 44px);
		color: #fff;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		text-align: center;

		p {
			font-size: min(2.5vw, 48px);
			font-weight: 300;
			line-height: 1.4;

			strong {
				font-weight: 700;
			}
		}
	}

	&__box {
		border-radius: min(2.29vw, 44px);
		filter: drop-shadow(0 10px 15px rgb(0 0 0 / 10%)) drop-shadow(0 4px 6px rgb(0 0 0 / 10%));
		height: 100%;
		padding: min(6.25vw, 120px) min(4.17vw, 80px) 0;
		position: relative;
		text-align: center;

		.list {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			margin: min(3.13vw, 60px) auto 0;
			max-width: 1320px;

			&__ico {
				height: min(6.25vw, 120px);
				margin: 0 auto min(1.77vw, 34px);
				width: min(6.25vw, 120px);
			}

			&__img {
				height: min(7.29vw, 140px);
				margin: 0 auto min(1.25vw, 24px);
				width: min(12.5vw, 240px);

				img {
					height: 100%;
					width: 100%;
				}
			}

			&__title {
				font-size: min(1.04vw, 20px);
				font-weight: 800;
			}

			&__desc {
				line-height: 1.6;
				margin-top: min(0.63vw, 12px);
			}
		}
	}

	&__dimmed {
		border-radius: min(2.29vw, 44px);
		height: 100%;
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
		width: 100%;
		@include mixins.transition(1000ms, cubic-bezier(0.47, 0, 0.23, 1.38));
	}

	&__title {
		font-size: min(1.25vw, 24px);
		font-weight: 800;
	}

	&__desc {
		font-size: min(2.5vw, 48px);
		font-weight: 300;
		line-height: 1.4;
		margin-top: min(0.83vw, 16px);
	}

	.swiper {
		&-wrapper {
			transition-timing-function: cubic-bezier(0.47, 0, 0.23, 1.38) !important;
		}

		&-slide {
			// height: 680px;
			height: min(35.42vw, 680px);
			transition-property: transform, opacity !important;
			transition-timing-function: cubic-bezier(0.47, 0, 0.23, 1.38) !important;

			&:not(.swiper-slide-visible),
			&-prev {
				opacity: 0;
			}

			&-active {
				.coverflow {
					&__dimmed {
						opacity: 0;
					}

					&__title,
					&__list,
					&__desc {
						display: block !important;
					}
				}

				.button {
					display: block !important;
				}

				~ .swiper-slide {
					opacity: 1;
				}
			}

			img {
				height: 100%;
			}

			.coverflow {
				&__title,
				&__list,
				&__desc {
					display: none;
				}
			}

			.button {
				display: none;
			}
		}
	}

	@include breakpoints.md {
		// height: 590px;
		height: 163.89vw;
		padding-bottom: 8.33vw;

		&__hero {
			border-radius: 5.56vw;

			p {
				font-size: 6.67vw;
			}
		}

		&__box {
			border-radius: 5.56vw;
			padding: 11.11vw 8.33vw 8.33vw;

			.list {
				display: block;
				margin-top: 10vw;

				&__item {
					column-gap: 3.33vw;
					display: grid;
					grid-template-columns: 13.89vw 1fr;

					&:not(:first-child) {
						margin-top: 3.33vw;
					}
				}

				&__ico {
					grid-row: 1 / 3;
					height: 13.89vw;
					margin-bottom: 0;
					width: 100%;
				}

				&__title {
					font-size: 3.89vw;
					text-align: left;
				}

				&__desc {
					font-size: 3.33vw;
					line-height: 1.4;
					margin-top: 2.22vw;
					text-align: left;
				}
			}
		}

		&__dimmed {
			border-radius: 5.56vw;
		}

		&__title {
			font-size: 3.33vw;
		}

		&__desc {
			font-size: 6.11vw;
			font-weight: 400;
			margin-top: 2.22vw;
		}

		.swiper {
			&-slide {
				// height: 540px;
				height: 150vw;
			}
		}
	}
}

.board {
	--flag-skyblue: #0075ff;
	--flag-orange: #ff7a00;
	--flag-lime: #97d91a;
	--flag-green: #007b3a;

	&__scroll {
		margin: 0 max(-8.33vw, -160px);
		overflow: hidden;

		.board {
			&__row {
				overflow-x: scroll;
				padding: 0 calc(min(8.33vw, 160px));
			}

			&__card {
				flex: none;
				width: min(41.15vw, 790px);
			}
		}
	}

	&__row {
		column-gap: min(1.04vw, 20px);
		display: flex;
	}

	&__card {
		background-color: #f4f4f1;
		column-gap: min(1.67vw, 32px);
		display: grid;
		flex: 1;
		grid-template: min(15.63vw, 300px) / min(15.63vw, 300px) 1fr;
		padding: min(2.08vw, 40px) min(1.46vw, 28px) min(2.08vw, 40px) min(2.08vw, 40px);

		.board {
			&__contents {
				border-bottom: 0;

				.board {
					&__group {
						display: block;
						margin-bottom: auto;
						margin-top: 0;
					}
				}
			}

			&__flag {
				border-radius: min(0.21vw, 4px);
				color: #fff;
				font-weight: 700;
				margin-bottom: auto;
				padding: min(0.21vw, 4px) min(0.42vw, 8px);
				width: min-content;

				&--skyblue {
					background-color: var(--flag-skyblue);
				}

				&--green {
					background-color: var(--flag-green);
				}

				&--orange {
					background-color: var(--flag-orange);
				}

				&--lime {
					background-color: var(--flag-lime);
				}
			}

			&__title {
				font-size: min(1.25vw, 24px);
				line-height: 1.5833;
				@include mixins.ellipse(2);
			}

			&__desc {
				font-size: min(0.94vw, 18px);
				line-height: 1.6667;
				margin-top: min(0.83vw, 16px);
			}

			&__date {
				line-height: 20px;
				margin-top: 16px;
			}
		}
	}

	&__list {
		display: grid;
		grid-gap: min(1.25vw, 24px) min(1.04vw, 20px);
		grid-template-columns: repeat(2, 1fr);
		margin-top: min(2.08vw, 40px);
	}

	&__item {
		column-gap: min(1.67vw, 32px);
		display: grid;
		grid-template-columns: min(6.25vw, 120px) 1fr;
		padding: 0 min(2.08vw, 40px);

		.roundBox {
			clip-path: inset(0, round min(1.25vw, 24px));
		}
	}

	&__img {
		img {
			height: 100%;
			width: 100%;
		}
	}

	&__contents {
		border-bottom: 1px solid #e5e5e5;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.board {
			&__group {
				column-gap: min(0.63vw, 12px);
				display: flex;
				margin-top: min(0.63vw, 12px);
			}
		}
	}

	&__title {
		font-size: min(0.94vw, 18px);
		font-weight: 700;
		line-height: 1.6;
		@include mixins.ellipse(1);
	}

	&__flag {
		font-size: min(0.73vw, 14px);
		font-weight: 800;
		line-height: 1.1429;

		&--skyblue {
			color: var(--flag-skyblue);
		}

		&--green {
			color: var(--flag-green);
		}

		&--orange {
			color: var(--flag-orange);
		}

		&--lime {
			color: var(--flag-lime);
		}
	}

	&__date {
		color: #999;
		font-size: min(0.73vw, 14px);
	}

	@include breakpoints.md {
		&__scroll {
			margin: 0 -5.56vw;

			.board {
				&__row {
					padding: 0 5.56vw;
				}

				&__card {
					width: 88.89vw;
				}
			}
		}

		&__row {
			column-gap: 5.56vw;
		}

		&__card {
			display: flex;
			flex-direction: column;
			padding: 5.56vw 5.56vw 7.78vw;

			.board {
				&__img {
					aspect-ratio: 16 / 9;
					height: auto;
					position: relative;

					img {
						height: auto;
						left: 50%;
						position: absolute;
						top: 50%;
						transform: translate(-50%, -50%);
						width: auto;
					}
				}

				&__contents {
					flex: 1;
					margin-top: 0.56vw;
					padding: 0;

					.board {
						&__group {
							margin-top: 4.44vw;
						}
					}
				}

				&__title {
					font-size: 5vw;
					height: auto;
					line-height: 1.4;
					@include mixins.ellipse(1);
				}

				&__desc {
					font-size: 3.89vw;
					line-height: 1.6;
					margin-top: 2.22vw;
				}
			}
		}

		&__list {
			display: block;
			margin-top: 5.56vw;
		}

		&__item {
			column-gap: 4.44vw;
			grid-template-columns: 22.22vw 1fr;
			padding: 0;

			&:not(:first-child) {
				margin-top: 3.33vw;
			}

			.roundBox {
				clip-path: inset(0 round 3.33vw);
			}
		}

		&__img {
			height: 22.22vw;
		}

		&__contents {
			.board {
				&__group {
					align-items: center;
					column-gap: 3.33vw;
				}
			}
		}

		&__title {
			font-size: 3.89vw;
			@include mixins.ellipse(1);
		}

		&__flag {
			font-size: 3.33vw;
			line-height: 1.3333;
		}

		&__date {
			font-size: 3.33vw;
		}
	}
}
